html,
body {
  background-color: gray; /* 모바일 이외 영역을 검은색으로 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#root {
  width: 393px;
  height: 852px;
  background-color: white;
  border-radius: 32px;

  overflow: hidden;
}
